In [1]:
import pandas as pd

In [2]:
df_canon = pd.read_excel('canonical models.xlsx')
df_m1 = pd.read_excel('car models 1.xlsx')
df_m2 = pd.read_excel('car models 2.xlsx')

In [ ]:
# Do a lambda function to split original pdf by comma

In [53]:
# Data cleaning and to create keys for canonical models
df_canon_renamed = df_canon.rename({'make':'canonical_make', ' model':'canonical_model'}, axis=1)
df_canon_keyed = df_canon_renamed.copy()
df_canon_keyed['canonical_make_key'] = df_canon_keyed['canonical_make'].apply(lambda x: x.lower().strip())
df_canon_keyed['canonical_model_key'] = df_canon_keyed['canonical_model'].apply(lambda x: x.lower().strip())
df_canon_keyed['join_key'] = df_canon_keyed['canonical_make_key'] + df_canon_keyed['canonical_model_key']
df_canon_keyed

,canonical_make,canonical_model,canonical_make_key,canonical_model_key,join_key
0,genesis,g70,genesis,g70,genesisg70
1,genesis,g80,genesis,g80,genesisg80
2,genesis,g90,genesis,g90,genesisg90
3,genesis,gv60,genesis,gv60,genesisgv60
4,genesis,gv70,genesis,gv70,genesisgv70
5,genesis,gv80,genesis,gv80,genesisgv80
6,hyundai,accent,hyundai,accent,hyundaiaccent
7,hyundai,azera,hyundai,azera,hyundaiazera
8,hyundai,elantra,hyundai,elantra,hyundaielantra
9,hyundai,elantra coupe,hyundai,elantra coupe,hyundaielantra coupe
10,hyundai,elantra gt,hyundai,elantra gt,hyundaielantra gt
11,hyundai,elantra hybrid,hyundai,elantra hybrid,hyundaielantra hybrid
12,hyundai,elantra n,hyundai,elantra n,hyundaielantra n
13,hyundai,entourage,hyundai,entourage,hyundaientourage
14,hyundai,equus,hyundai,equus,hyundaiequus
15,hyundai,excel,hyundai,excel,hyundaiexcel
16,hyundai,genesis,hyundai,genesis,hyundaigenesis
17,hyundai,genesis coupe,hyundai,genesis coupe,hyundaigenesis coupe
18,hyundai,kona,hyundai,kona,hyundaikona
19,hyundai,ioniq,hyundai,ioniq,hyundaiioniq
20,hyundai,ioniq 5,hyundai,ioniq 5,hyundaiioniq 5
21,hyundai,ioniq electric,hyundai,ioniq electric,hyundaiioniq electric
22,hyundai,ioniq plug-in hybrid,hyundai,ioniq plug-in hybrid,hyundaiioniq plug-in hybrid
23,hyundai,kona electric,hyundai,kona electric,hyundaikona electric
24,hyundai,kona n,hyundai,kona n,hyundaikona n
25,hyundai,nexo,hyundai,nexo,hyundainexo
26,hyundai,palisade,hyundai,palisade,hyundaipalisade
27,hyundai,santa fe,hyundai,santa fe,hyundaisanta fe
28,hyundai,santa cruz,hyundai,santa cruz,hyundaisanta cruz
29,hyundai,santa fe hybrid,hyundai,santa fe hybrid,hyundaisanta fe hybrid
30,hyundai,santa fe plug-in hybrid,hyundai,santa fe plug-in hybrid,hyundaisanta fe plug-in hybrid
31,hyundai,santa fe sport,hyundai,santa fe sport,hyundaisanta fe sport
32,hyundai,santa fe xl,hyundai,santa fe xl,hyundaisanta fe xl
33,hyundai,scoupe,hyundai,scoupe,hyundaiscoupe
34,hyundai,sonata,hyundai,sonata,hyundaisonata
35,hyundai,sonata hybrid,hyundai,sonata hybrid,hyundaisonata hybrid
36,hyundai,sonata plug-in hybrid,hyundai,sonata plug-in hybrid,hyundaisonata plug-in hybrid
37,hyundai,tiburon,hyundai,tiburon,hyundaitiburon
38,hyundai,tucson,hyundai,tucson,hyundaitucson
39,hyundai,tucson hybrid,hyundai,tucson hybrid,hyundaitucson hybrid
40,hyundai,tucson plug-in hybrid,hyundai,tucson plug-in hybrid,hyundaitucson plug-in hybrid
41,hyundai,veloster,hyundai,veloster,hyundaiveloster
42,hyundai,veloster n,hyundai,veloster n,hyundaiveloster n
43,hyundai,venue,hyundai,venue,hyundaivenue
44,hyundai,veracruz,hyundai,veracruz,hyundaiveracruz
45,hyundai,xg300,hyundai,xg300,hyundaixg300
46,hyundai,xg350,hyundai,xg350,hyundaixg350

In [54]:
# Data cleaning and to create keys for models 1
df_m1_renamed = df_m1.rename({'Make':'make', 'Model':'model', 'MakeDescription': 'make_desc', 'ModelDescription':'model_desc'}, axis=1)
df_m1_keyed = df_m1_renamed.copy()
df_m1_keyed['make_desc_key'] = df_m1_keyed['make_desc'].apply(lambda x: x.lower().strip())
df_m1_keyed['model_desc_key'] = df_m1_keyed['model_desc'].apply(lambda x: x.lower().strip())
df_m1_keyed['join_key'] = df_m1_keyed['make_desc_key'] + df_m1_keyed['model_desc_key']
df_m1_keyed

,make,model,make_desc,model_desc,make_desc_key,model_desc_key,join_key
0,GENE,G80 EV,GENESIS,G80 EV,genesis,g80 ev,genesisg80 ev
1,GENE,G80EV,GENESIS,G80 EV,genesis,g80 ev,genesisg80 ev
2,GENE,G90,GENESIS,G90,genesis,g90,genesisg90
3,GENE,GV80,GENESIS,GV80,genesis,gv80,genesisgv80
4,GENE,G70,GENESIS,G70,genesis,g70,genesisg70
...,...,...,...,...,...,...,...
108,HYD,Veloster,HYUNDAI,Veloster,hyundai,veloster,hyundaiveloster
109,HYD,SANTHY,HYUNDAI,Santa Fe Hybrid,hyundai,santa fe hybrid,hyundaisanta fe hybrid
110,HYD,GENECP,HYUNDAI,Genesis Coupe,hyundai,genesis coupe,hyundaigenesis coupe
111,HYD,TUCS,HYUNDAI,TUCSON,hyundai,tucson,hyundaitucson
112,HYD,Equus,HYUNDAI,Equus,hyundai,equus,hyundaiequus

In [ ]:
# Do merging based on the keys
df_m1_merged = df_m1_keyed.merge(df_canon_keyed, how='left', on = 'join_key', indicator=True)
df_m1_merged

In [56]:
# Do merging based on the keys
df_m1_merged = df_canon_keyed.merge(df_m1_keyed, how='right', on = 'join_key', indicator=True)
df_m1_merged

,canonical_make,canonical_model,canonical_make_key,canonical_model_key,join_key,make,model,make_desc,model_desc,make_desc_key,model_desc_key,_merge
0,NaN,NaN,NaN,NaN,genesisg80 ev,GENE,G80 EV,GENESIS,G80 EV,genesis,g80 ev,right_only
1,NaN,NaN,NaN,NaN,genesisg80 ev,GENE,G80EV,GENESIS,G80 EV,genesis,g80 ev,right_only
2,genesis,g90,genesis,g90,genesisg90,GENE,G90,GENESIS,G90,genesis,g90,both
3,genesis,gv80,genesis,gv80,genesisgv80,GENE,GV80,GENESIS,GV80,genesis,gv80,both
4,genesis,g70,genesis,g70,genesisg70,GENE,G70,GENESIS,G70,genesis,g70,both
...,...,...,...,...,...,...,...,...,...,...,...,...
108,hyundai,veloster,hyundai,veloster,hyundaiveloster,HYD,Veloster,HYUNDAI,Veloster,hyundai,veloster,both
109,hyundai,santa fe hybrid,hyundai,santa fe hybrid,hyundaisanta fe hybrid,HYD,SANTHY,HYUNDAI,Santa Fe Hybrid,hyundai,santa fe hybrid,both
110,hyundai,genesis coupe,hyundai,genesis coupe,hyundaigenesis coupe,HYD,GENECP,HYUNDAI,Genesis Coupe,hyundai,genesis coupe,both
111,hyundai,tucson,hyundai,tucson,hyundaitucson,HYD,TUCS,HYUNDAI,TUCSON,hyundai,tucson,both
112,hyundai,equus,hyundai,equus,hyundaiequus,HYD,Equus,HYUNDAI,Equus,hyundai,equus,both

In [58]:
# To see which are the entries that did not match canonical models
df_m1_merged[df_m1_merged['_merge'] == 'right_only']

,canonical_make,canonical_model,canonical_make_key,canonical_model_key,join_key,make,model,make_desc,model_desc,make_desc_key,model_desc_key,_merge
0,NaN,NaN,NaN,NaN,genesisg80 ev,GENE,G80 EV,GENESIS,G80 EV,genesis,g80 ev,right_only
1,NaN,NaN,NaN,NaN,genesisg80 ev,GENE,G80EV,GENESIS,G80 EV,genesis,g80 ev,right_only
6,NaN,NaN,NaN,NaN,genesisgv60 ev,GENE,GV60 EV,GENESIS,GV60 EV,genesis,gv60 ev,right_only
8,NaN,NaN,NaN,NaN,genesisgv60 ev,GENE,GV60EV,GENESIS,GV60 EV,genesis,gv60 ev,right_only
9,NaN,NaN,NaN,NaN,hyundaisante fe sport,HYUN,SANTE FE SPORT,HYUNDAI,SANTE FE SPORT,hyundai,sante fe sport,right_only
14,NaN,NaN,NaN,NaN,hyundaitucson phev,HYUN,TUCSPH,HYUNDAI,TUCSON PHEV,hyundai,tucson phev,right_only
15,NaN,NaN,NaN,NaN,hyundaipony,HYUN,PONY,HYUNDAI,PONY,hyundai,pony,right_only
22,NaN,NaN,NaN,NaN,hyundaicoupe,HYUN,COUP,HYUNDAI,COUPE,hyundai,coupe,right_only
28,NaN,NaN,NaN,NaN,hyundaielantra gt sport,HYUN,Elantra GT Sport,HYUNDAI,Elantra GT Sport,hyundai,elantra gt sport,right_only
30,NaN,NaN,NaN,NaN,hyundaipony gl,HYUN,POGL,HYUNDAI,PONY GL,hyundai,pony gl,right_only
33,NaN,NaN,NaN,NaN,hyundaimd23a,HYUN,MD23A,HYUNDAI,MD23A,hyundai,md23a,right_only
35,NaN,NaN,NaN,NaN,hyundaihld150,HYUN,HLD150,HYUNDAI,HLD150,hyundai,hld150,right_only
37,NaN,NaN,NaN,NaN,hyundaipony gl,HYUN,PONY GL,HYUNDAI,PONY GL,hyundai,pony gl,right_only
40,NaN,NaN,NaN,NaN,hyundaielantra gt sport,HYUN,ELNGTS,HYUNDAI,Elantra GT Sport,hyundai,elantra gt sport,right_only
53,NaN,NaN,NaN,NaN,hyundaild15a,HYUN,LD15A,HYUNDAI,LD15A,hyundai,ld15a,right_only
56,NaN,NaN,NaN,NaN,hyundaihd67mx,HYUN,HD67MX,HYUNDAI,HD67MX,hyundai,hd67mx,right_only
65,NaN,NaN,NaN,NaN,hyundaihmd230,HYUN,HMD230,HYUNDAI,HMD230,hyundai,hmd230,right_only
67,NaN,NaN,NaN,NaN,hyundaiioniq phev,HYUN,IONIQP,HYUNDAI,IONIQ PHEV,hyundai,ioniq phev,right_only
70,NaN,NaN,NaN,NaN,hyundaihmd260,HYUN,HMD260,HYUNDAI,HMD260,hyundai,hmd260,right_only
77,NaN,NaN,NaN,NaN,hyundaistellar,HYUN,STEL,HYUNDAI,STELLAR,hyundai,stellar,right_only
79,NaN,NaN,NaN,NaN,hyundaiioniq phev,HYUN,IONIQ PHEV,HYUNDAI,IONIQ PHEV,hyundai,ioniq phev,right_only
80,NaN,NaN,NaN,NaN,hyundaisanta fe phev,HYUN,SANTPH,HYUNDAI,Santa Fe PHEV,hyundai,santa fe phev,right_only
81,NaN,NaN,NaN,NaN,hyundaitucson phev,HYUN,TUCSON PHEV,HYUNDAI,TUCSON PHEV,hyundai,tucson phev,right_only
84,NaN,NaN,NaN,NaN,hyundaimd26a,HYUN,MD26A,HYUNDAI,MD26A,hyundai,md26a,right_only
85,NaN,NaN,NaN,NaN,hyundaistellar,HYUN,STELLAR,HYUNDAI,STELLAR,hyundai,stellar,right_only
86,NaN,NaN,NaN,NaN,hyundaisanta fe phev,HYUN,Santa Fe PHEV,HYUNDAI,Santa Fe PHEV,hyundai,santa fe phev,right_only
88,NaN,NaN,NaN,NaN,hyundaimd23m,HYUN,MD23M,HYUNDAI,MD23M,hyundai,md23m,right_only
91,NaN,NaN,NaN,NaN,hyundaimd26m,HYUN,MD26M,HYUNDAI,MD26M,hyundai,md26m,right_only
93,NaN,NaN,NaN,NaN,hyundaipony,HYUN,PON,HYUNDAI,PONY,hyundai,pony,right_only
95,NaN,NaN,NaN,NaN,hyundaisante fe sport,HYUN,SANTFESP,HYUNDAI,SANTE FE SPORT,hyundai,sante fe sport,right_only

In [ ]:
# Clean up for presentation
df_m1_merged.drop(columns=[''])

In [33]:
df_m1_keyed = df_m1_renamed.copy()
df_m1_keyed['make_desc_key'] = df_m1_keyed['make_desc'].apply(lambda x: x.lower())
df_m1_keyed

     make     model make_desc       model_desc make_desc_key
0    GENE    G80 EV   GENESIS           G80 EV       genesis
1    GENE     G80EV   GENESIS           G80 EV       genesis
2    GENE       G90   GENESIS              G90       genesis
3    GENE      GV80   GENESIS             GV80       genesis
4    GENE       G70   GENESIS              G70       genesis
..    ...       ...       ...              ...           ...
108   HYD  Veloster   HYUNDAI         Veloster       hyundai
109   HYD    SANTHY   HYUNDAI  Santa Fe Hybrid       hyundai
110   HYD    GENECP   HYUNDAI    Genesis Coupe       hyundai
111   HYD      TUCS   HYUNDAI           TUCSON       hyundai
112   HYD     Equus   HYUNDAI            Equus       hyundai

[113 rows x 5 columns]

In [34]:
df_renamed.merge(df_m1_keyed, how='inner', left_on='canonical_make', right_on='make_desc_key')

,canonical_make,canonical_model,make,model,make_desc,model_desc,make_desc_key
0,genesis,g70,GENE,G80 EV,GENESIS,G80 EV,genesis
1,genesis,g70,GENE,G80EV,GENESIS,G80 EV,genesis
2,genesis,g70,GENE,G90,GENESIS,G90,genesis
3,genesis,g70,GENE,GV80,GENESIS,GV80,genesis
4,genesis,g70,GENE,G70,GENESIS,G70,genesis
...,...,...,...,...,...,...,...
4313,hyundai,xg350,HYD,Veloster,HYUNDAI,Veloster,hyundai
4314,hyundai,xg350,HYD,SANTHY,HYUNDAI,Santa Fe Hybrid,hyundai
4315,hyundai,xg350,HYD,GENECP,HYUNDAI,Genesis Coupe,hyundai
4316,hyundai,xg350,HYD,TUCS,HYUNDAI,TUCSON,hyundai
4317,hyundai,xg350,HYD,Equus,HYUNDAI,Equus,hyundai

In [17]:
def find_item(find_make, find_model, df, df_col_make, df_col_model):
    return df.loc[(df[df_col_make]==find_make) & (df[df_col_model]==find_model)]

find_item('GENESIS', 'G80', df_m1, 'MakeDescription', 'ModelDescription')

   Make Model MakeDescription ModelDescription
7  GENE   G80         GENESIS              G80